# Hugo
public/
resources/
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Git
.gemini/

# processed images
static/images/**/*-800w.*
static/images/**/*-1200w.*
static/images/**/*-1920w.*
static/images/**/*-2400w.*
