{{ define "main" }}
{{ $bg := partial "header-image.html" . }}
<section class="single-page">
    <div class="container">
        <header class="page-header{{ if $bg }} page-header--with-bg{{ end }}"{{ if $bg }} style="background-image: url('{{ $bg }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"{{ end }}>
            <h1>{{ .Title }}</h1>
            {{ if .Params.location }}
            <p class="exhibition-meta">{{ .Params.location }}{{ end }}
        </header>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>
{{ end }}
