{{ $bgImage := "" }}
{{ if .Params.images }}
    {{ $firstImg := index .Params.images 0 }}
    
    {{/* Extract the clean directory path (e.g. gallerie/visioni-d-acqua) */}}
    {{ $dir := replaceRE "^/?" "" (replaceRE "/?$" "" .File.Dir) }}
    {{/* Extract just the tail folder name */}}
    {{ $slug := replaceRE ".*/" "" $dir }}
    {{ $section := .Section }}
    
    {{ $paths := slice 
        (printf "images/%s/istantanee/%s" $dir $firstImg)
        (printf "images/%s/galleria/%s" $dir $firstImg)
        (printf "images/%s/%s" $dir $firstImg)
        (printf "images/%s/%s/istantanee/%s" $section $slug $firstImg)
        (printf "images/%s/%s/galleria/%s" $section $slug $firstImg)
        (printf "images/%s/%s" $section $firstImg)
        (printf "images/%s" $firstImg)
    }}
    
    {{ $foundRes := "" }}
    {{ range $paths }}
        {{ if not $foundRes }}
            {{ $foundRes = resources.Get . }}
        {{ end }}
    {{ end }}

    {{ if $foundRes }}
        {{/* Optimize the header image: Resize to 1920px max width and convert to WebP */}}
        {{ if gt $foundRes.Width 1920 }}
            {{ $bgImage = ($foundRes.Resize "1920x webp").RelPermalink }}
        {{ else }}
            {{ $bgImage = ($foundRes.Process "webp").RelPermalink }}
        {{ end }}
    {{ else if (hasPrefix $firstImg "http") }}
        {{ $bgImage = $firstImg }}
    {{ else if (hasPrefix $firstImg "/") }}
        {{ $bgImage = $firstImg | relURL }}
    {{ end }}
{{ end }}
{{ return $bgImage }}
