{{ define "main" }}
{{ $bg := partial "header-image.html" . }}
<article class="page-content">
    <div class="container">
        <header class="page-header{{ if $bg }} page-header--with-bg{{ end }}"{{ if $bg }} style="background-image: url('{{ $bg }}'); background-size: cover; background-position: center; background-repeat: no-repeat;"{{ end }}>
            <h1>{{ .Title }}</h1>
            {{ with .Params.location }}
            <p class="exhibition-meta">{{ . }}{{ end }}
            {{ with .Params.date }}
            <p class="exhibition-meta">{{ . | time.Format "January 2006" }}{{ end }}
        </header>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}
