<div class="mostre-cards-grid">
    {{ $gallerieSection := .Site.GetPage "/gallerie" }}
    {{ range $gallerieSection.Sections.ByDate.Reverse }}
    <a href="{{ .Permalink }}" class="mostre-card"{{ with .Params.theme }} data-theme="{{ lower (trim . " ") }}"{{ end }}>
        <div class="mostre-card__image-wrapper">
            {{ $img := "" }}
            {{ if .Params.images }}
            {{ $firstImg := index .Params.images 0 }}
            {{ $slug := .File.ContentBaseName }}
            {{ $path1 := printf "images/gallerie/%s/istantanee/%s" $slug $firstImg }}
            {{ $path2 := printf "images/gallerie/%s/galleria/%s" $slug $firstImg }}
            {{ $path3 := printf "images/gallerie/%s/%s" $slug $firstImg }}

            {{ if (fileExists (printf "static/%s" $path1)) }}
            {{ $img = $path1 }}
            {{ else if (fileExists (printf "static/%s" $path2)) }}
            {{ $img = $path2 }}
            {{ else if (fileExists (printf "static/%s" $path3)) }}
            {{ $img = $path3 }}
            {{ else if (hasPrefix $firstImg "http") }}
            {{ $img = $firstImg }}
            {{ else if (hasPrefix $firstImg "/") }}
            {{ $img = $firstImg }}
            {{ end }}
            {{ end }}

            {{ if $img }}
            {{ partial "responsive-image.html" (dict "src" $img "alt" .Title "class" "mostre-card__image" "sizes" "(max-width: 768px) 100vw, 400px") }}
            {{ else }}
            <div class="mostre-card__image-placeholder">
                {{ substr .Title 0 1 }}
            </div>
            {{ end }}
        </div>
        <div class="mostre-card__content">
            <div class="mostre-card__meta">
                <span>{{ .Params.location | default "Milano" }}</span>
                <span>{{ .Params.year | default (.Date.Format "2006") }}</span>
            </div>
            <h3 class="mostre-card__title">{{ .Title }}</h3>
            <p class="mostre-card__description">{{ .Description | default .Summary | truncate 150 }}</p>
            <div class="mostre-card__footer">Scopri di più</div>
        </div>
    </a>
    {{ end }}
</div>