<div class="gallery-scroll">
  <div class="gallery-track">
    {{ $dir := .Get "dir" }}
    {{ $files := readDir (printf "static/%s" $dir) }}
    {{ range $files }}
      {{ if and (not .IsDir) (findRE "\\.(jpg|jpeg|png|gif|webp)$" (lower .Name)) }}
        <div class="gallery-item">
          <img src="/{{ $dir }}/{{ .Name }}" alt="{{ .Name | replaceRE "\\.[^.]+$" "" }}">
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>

<div class="lightbox" id="gallery-lightbox">
  <span class="lightbox-close">&times;</span>
  <img class="lightbox-img" src="" alt="">
</div>
