<div class="mostre-cards-grid">
    {{ $gallerieSection := .Site.GetPage "/gallerie" }}
    {{ range $gallerieSection.Sections.ByDate.Reverse }}
    <a href="{{ .Permalink }}" class="mostre-card"{{ with .Params.theme }} data-theme="{{ lower (trim . " ") }}"{{ end }}>
        <div class="mostre-card__image-wrapper">
            {{ $img := "" }}
            {{ if .Params.images }}
            {{ $firstImg := index .Params.images 0 }}
            {{ $slug := .File.ContentBaseName }}
            {{ $path1 := printf "images/gallerie/%s/istantanee/%s" $slug $firstImg }}
            {{ $path2 := printf "images/gallerie/%s/galleria/%s" $slug $firstImg }}
            {{ $path3 := printf "images/gallerie/%s/opere/%s" $slug $firstImg }}
            {{ $path4 := printf "images/gallerie/%s/%s" $slug $firstImg }}

            {{ if (resources.Get $path1) }}
            {{ $img = $path1 }}
            {{ else if (resources.Get $path2) }}
            {{ $img = $path2 }}
            {{ else if (resources.Get $path3) }}
            {{ $img = $path3 }}
            {{ else if (resources.Get $path4) }}
            {{ $img = $path4 }}
            {{ else if (hasPrefix $firstImg "http") }}
            {{ $img = $firstImg }}
            {{ else if (hasPrefix $firstImg "/") }}
            {{ $img = $firstImg }}
            {{ end }}

            {{ if not $img }}
            {{ errorf "Gallery card image not found for %s: %q" .File.Path (index .Params.images 0) }}
            {{ end }}
            {{ end }}

            {{ if $img }}
            {{ partial "responsive-image.html" (dict "src" $img "alt" .Title "class" "mostre-card__image" "sizes" "(max-width: 768px) 100vw, 400px") }}
            {{ else }}
            <div class="mostre-card__image-placeholder">
                {{ substr .Title 0 1 }}
            </div>
            {{ end }}
        </div>
        <div class="mostre-card__content">
            {{ if or .Params.location .Params.year }}
            <div class="mostre-card__meta">
                {{ if .Params.location }}<span>{{ .Params.location }}</span>{{ end }}
                {{ if .Params.year }}<span>{{ .Params.year }}</span>{{ end }}
            </div>
            {{ end }}
            <h3 class="mostre-card__title">{{ .Title }}</h3>
            {{ if .Params.description }}
            <p class="mostre-card__description">{{ .Params.description | truncate 150 }}</p>
            {{ end }}
            <div class="mostre-card__footer">Scopri di più</div>
        </div>
    </a>
    {{ end }}
</div>